body{
  background-image: url("http://www.rennebohm.net/WEFiles/Image/WEImage/blue_top_bkgd5-73e7fc3f.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #00CED1;
}

h1{
  text-align: center;
  text-decoration: underline;
}

#facts{
  background-color: #696969;
}
#pabloPic{
  width: 450px;
  height:450px;
}

#username{
  color: #00CED1;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}
#login_link{
  color: #00CED1;
  text-decoration: underline;
  font-size: 16px;
}

.tablink {
  background-color: #00FFFF;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
