h3{
  font-family: anton;
  text-align: center;
  text-decoration: underline;
}

#shows {
  color: #DC143C;
  background-color: black;
  margin-right:10px;
}

#cheersPic{
  width: 400px;
  padding-right: 10px;
}

#aTeam{
width:400px;
padding-right: 10px;
height:200px;
}

#cosbyShow{
  width: 400px;
  padding-right: 10px;
  height: 200px;
}
#fullHouse{
  width: 400px;
  padding-right: 10px;
  height: 300px;
}

#jumpStreet{
  width: 200px;
  padding-right: 10px;
  text-align: center;
}

#musicPlaylist{
  padding-right: 30px;
  height: 3000px;
}
/*#musicngames{
  color: #DC143C;
  background-color: black;
  margin-right: 100px;
  padding-left: 250px;
  margin-left: 100px;
  height: 1820px;
}*/

#musicngames{
  color: #DC143C;
  background-color:black;
  margin-right: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  height: 1820px;
  /*border: 3px solid orange;*/
}

#username{
  color: black;
  text-decoration: none;
  text-align: left;
}
#login_link{
  color: black;
  text-decoration: underline;
}

#defenderpic{
  width:200px;
  height:200px;
}
#tetrisPic{
  width:200px;
  height:200px;
}
#pacMan{
  width:200px;
  height:200px;
}
#donkeyKong{
  width:200px;
  height:200px;
  display: flex;
}
#galaga{
  width:200px;
  height:200px;
  display: flex;
}

#movies{
  color: #DC143C;
  margin-right: 0px;
  background-color: black;
}

#aliens{
  color: #DC143C;
  padding-right:20px;
  background-
}

#parent{
  display: flex; /*Always need for flex positioning*/
  justify-content: center;
  font-family: Jazz LET, fantasy;
}

body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/7d/df/6f/7ddf6f7a7d27dcdc9733cc225d1eef90.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /*font-family:;*/
}
/*#title{
  text-align:center;
  text-decoration: underline;
}*/

#title{
  /*padding-left: 400px;*/
  color: #DC143C;
  padding-left: 0px;
  font-family: Jazz LET, fantasy;
  /*justify-content: center;*/
  text-align: center;
  text-decoration: underline;
}

.tablink {
  background-color: red;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
