body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/45/84/59/458459f0872466b6de645fb983f5c9a5.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #	#00FF00;
}

#facts{
  background-color: #696969;
}
#cable{
  width: 450px;
  height:450px;
}
.tablink {
  background-color: #0FFFFF;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
img{

}
