body{
  background-image: url("https://us.123rf.com/450wm/jadehawk/jadehawk1702/jadehawk170200011/73579200-1980-s-inspired-sci-fi-background-with-chrome-and-neon-graphics-are-grouped-and-in-several-layers-fo.jpg?ver=6");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  font-size:30px;
}

h1{
  color: black;
  font-size: 50px;
  text-decoration: underline;
}

#username{
  color: black;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}
#login_link{
  color: black;
  text-decoration: underline;
  font-size: 16px;
}

 ul{
   color: 	#FFD700;
   font-size: 30px;
 }

 li{
   background-color: black;
 }
 #macintosh{
  text-align: center;
}

#incarStereos{
  height: 400px;
  width: 650px;
}

#autofocus{
  height: 400px;
  width: 650px;
}

#addiMan{
  height: 400px;
  width: 650px;
}
.tablink {
  background-color: #9400D3;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
