h3{
  font-family: anton;
  text-decoration: underline;
  text-align: center;
}

#username{
  color: black;
  text-decoration: none;
  text-align: left;
}
#login_link{
  color: black;
  text-decoration: underline;
}

#shows {
  color: #DC143C;
  background-color: black;
  margin-right: 20px;
  /*margin-right:20px;*/
}
#musicPlaylist{
  padding-right: 30px;
  height: 600px;
}

#musicngames{
  color: #DC143C;
  background-color:black;
  margin-right: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  height: 1820px;
  /*border: 3px solid orange;*/
}

#mariopic{
  width:200px;
  height:200px;
  margin-right: 100px;
}
#secretOfMokeyIslandPic{
  width:200px;
  height:200px;
}
#residentEvil{
  width:200px;
  height:200px;
}

#title{
  padding-left: 500px;
  padding-top: 10px;
  background-color: black;
  color: white;
  font-family: Jazz LET, fantasy;
}
#movies{
  color: #DC143C;
  margin-right: 15px;
  background-color: black;

}
#legendOfZelda{
   width:200px;
   height:200px;
   padding-right: 10px;
   display: flex;
 }
#megaMan{
  width:200px;
  height:200px;
  display: flex;
}
#pulpFictionVid{
  color: #DC143C;
  padding-right:40px;
  background-color: black;

}
#friendsPic{
  width: 355px;
  padding-right: 10px;
}

#freshPrincePic{
width:355px;
padding-right: 10px;
height:300px;
}

#seinfeldPic{
  height: 200px;
  padding-right: 10px;
  width: 355px;
}
#simpsonsPic{
  width: 355px;
  padding-right: 10px;
  height: 355px;
}

#boyMeetsWorldPic{
  width: 355px;
  padding-right: 10px;
  height: 200px
  text-align: center;
}
/*#parent{
  display: flex; Always need for flex positioning
  justify-content: center;
  font-family: Jazz LET, fantasy;
}*/

#parent{
  display: flex; /*Always need for flex positioning*/
  justify-content: space-evenly;
  font-family: Jazz LET, fantasy;
  overflow-x: hidden;
}

body{
  background-image: url("http://i.imgur.com/CFjU41M.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/*#title{
  text-align:center;
}*/
.tablink {
  background-color: #BA55D3;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

h1{
  text-align: center;
  text-decoration: underline;
}
a{
text-decoration: none;
}
