h3{
  font-family: anton;
}

#shows {
  color: #DC143C;
  background-color: #483D8B;
  margin-right:100px;
}
#musicPlaylist{
  padding-right: 30px;
  height: 600px;
}
#musicngames{
  color: #DC143C;
  background-color: #483D8B;
  margin-right: 100px;
  padding-left: 250px;
  margin-left: 100px;
  height: 1710px;
}
#mariopic{
  width:200px;
  height:200px;
}
#secretOfMokeyIslandPic{
  width:200px;
  height:200px;
}
#title{
  padding-left: 500px;
  padding-top: 10px;
  background-color: #483D8B;
  color: white;
  font-family: Jazz LET, fantasy;
}
#movies{
  color: #DC143C;
  margin-right: 150px;
  background-color: black;

}
#legendOfZelda{
   width:200px;
   height:200px;
   padding-right: 10px;
   display: flex;
 }
#megaMan{
  width:200px;
  height:200px;
  display: flex;
}
#pulpFictionVid{
  color: #DC143C;
  padding-right:40px;
  background-color: #483D8B;

}
#friendsPic{
  width: 400px;
  padding-right: 10px;
}

#freshPrincePic{
width:400px;
padding-right: 10px;
height:200px;
}

#seinfeldPic{
  width: 400px;
  padding-right: 10px;
  height: 200px;
}
#simpsonsPic{
  width: 400px;
  padding-right: 10px;
  height: 300px;
}

#boyMeetsWorldPic{
  width: 200px;
  padding-right: 10px;
  text-align: center;
}
#parent{
  display: flex; /*Always need for flex positioning*/
  justify-content: center;
  font-family: Jazz LET, fantasy;
}

body{
  background-image: url("http://i.imgur.com/CFjU41M.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family:
}
#title{
  text-align:center;
}

.tablink {
  background-color: red;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
