body{
  background-image: url("https://static3.bigstockphoto.com/6/7/1/large2/176056582.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 50px;
}
h1{
  color: #FFD700	;
  font-size: 50px;

}
 li{
   background-color: #00008B;
   /*border: 5px dashed white;*/
   color: #FFD700	;
   font-size: 30px;
   list-style: none;
 }
 a{
   color:#FFD700;
 text-decoration: none;
 }
#pabloPic{
  width: 450px;
  height:450px;
}
.tablink {
  background-color: #00008B	;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
