body{
  background-image: url("http://i.imgur.com/kvvFj.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: serif;
}
li{
text-align: center;
font-size: 30px;
list-style: none;
}

#username{
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}
#login_link{
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

#ojPic{
  text-align: center;
  width: 450px;
  height: 450px;
}

#dollyPic{
  text-align: center;
  width: 450px;
  height: 450px;
}

#news{
  text-align: center;
  font-size: 40px;
}
.tablink {
  background-color: #FF69B4;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
h1{
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}
a{
text-decoration: none;
}
