body{
  background-image: url("http://i.imgur.com/kvvFj.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}
li{
text-align: center;
}

#ojPic{
  width: 450px;
  height: 450px;
}

#dollyPic{
  width: 450px;
  height: 450px;
}

#news{
  font-size: 40px;
}
.tablink {
  background-color: #FF69B4;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
