h1{
  font-family: fantasy;
  text-align: center;
  color: white;
  display: block;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

body{
  background-image: url("http://smartfuse.s3.amazonaws.com/ea6cf035faea6cf035fae/uploads/2016/07/decades-logo.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

li{
  color: white;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 8px;
}

#home_button{
    color: white;
    text-decoration: underline;
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#username{
  color: white;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;k;
}

#login_link{
  color: white;
  text-decoration: underline;
  font-size: 16px;
}