h1{
  font-family: fantasy;
  text-align: center;
  color: white;
}

body{
  background-image: url("http://smartfuse.s3.amazonaws.com/ea6cf035faea6cf035fae/uploads/2016/07/decades-logo.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

li{
  color: white;
}

#home_button{
    color: white;
    text-decoration: underline;
    text-align: right;
}

#username{
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
}
#login_link{
  color: white;
  text-decoration: underline;
  font-size: 16px;
}