<head>
  <title>2000s Entertainment</title>
  <link rel="stylesheet" href="/resources/00sEntertainment.css">
  <body>
    <button class= "tablink" id= "Homepage"><a href= "/homepage">Homepage</a></button>
    <button class= "tablink" id= "ScientificDisc"><a href= "/00sScientificDisc">Scientific Discoveries</a></button>
    <button class= "tablink" id= "FunFacts"><a href= "/00sFunfacts">Fun Facts</a></button>
    <button class= "tablink" id= "SpecialEventsNews"><a href= "/00sSpecialEventsNews">Special Events/News</a></button>
  <h1 id="title">Entertainment</h1>
  <section id= "parent">
    <div id= "musicngames">
      <div class="box" id="games">
        <h3> Top 5 Games</h3>
        <ul>

          <li>Counter Strike(2000)</li>
          <img id= "counterStrikepic"src= "https://vignette3.wikia.nocookie.net/cso/images/0/0c/Counter-Strike_Online_2_Menu_Theme/revision/latest/scale-to-width-down/425?cb=20131213172508"/>
          <form method='post'>
      				<input value="https://vignette3.wikia.nocookie.net/cso/images/0/0c/Counter-Strike_Online_2_Menu_Theme/revision/latest/scale-to-width-down/425?cb=20131213172508" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Counter Strike(2000)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>

          <li>Diablo II(2000)</li>
          <img id= "diabloPic"src= "https://upload.wikimedia.org/wikipedia/en/d/d5/Diablo_II_Coverart.png"/>
          <form method='post'>
      				<input value="https://upload.wikimedia.org/wikipedia/en/d/d5/Diablo_II_Coverart.png" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Diablo II(2000)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>

          <li>Deus Ex (2000)</li>
          <img id= "deusExpic" src= "http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/clans/8424056/a5fc4b61d82d1a5cc5715fb44fa46b970b8e0c21.png"/>
          <form method='post'>
      				<input value="http://cdn.edgecast.steamstatic.com/steamcommunity/public/images/clans/8424056/a5fc4b61d82d1a5cc5715fb44fa46b970b8e0c21.png" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Deus Ex (2000)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>
          <li>Hitman Codename 47 (2000)</li>
          <img id= "hitman47" src= "https://vignette1.wikia.nocookie.net/hitman/images/3/3c/Hitman_Codename_47_cover.jpg/revision/latest?cb=20090529155224"/>
          <form method='post'>
      				<input value="https://vignette1.wikia.nocookie.net/hitman/images/3/3c/Hitman_Codename_47_cover.jpg/revision/latest?cb=20090529155224" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Hitman Codename 47 (2000)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>

          <li>Star Trek Voyager Elite Force (2000) </li>
          <img id= "starTrekVoyager" src= "https://upload.wikimedia.org/wikipedia/en/4/48/Star_Trek_Voyager_Elite_Force.jpg"/>
          <form method='post'>
      				<input value="https://upload.wikimedia.org/wikipedia/en/4/48/Star_Trek_Voyager_Elite_Force.jpg" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Star Trek Voyager Elite Force (2000)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>
        </ul>
      </div>
      <div class= "box" id="music" >
        <h3> Top 2000s Music</h3>
        <form  id= "musicPlaylist" method="post">
    		   <iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Amyplay.com%3Aplaylist%3A2f6tXtN0XesjONxicAzMIw" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    				<!-- <button>[+]</button> -->
    	  </form>
        <form method='post'>
            <input value="https://open.spotify.com/embed?uri=spotify%3Auser%3Amyplay.com%3Aplaylist%3A2f6tXtN0XesjONxicAzMIw" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Top 2000s Music' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>
        </div>
      </div>
    <div class="box" id= "shows">
      <h3> Top 5 TV Shows</h3>
      <ul>
        <li>CSI- 2000-2015 </li>
        <img id= "csiPic" src= "https://images-na.ssl-images-amazon.com/images/M/MV5BMTkyODgwMDMzNV5BMl5BanBnXkFtZTgwMTExOTMyMjE@._V1_UY268_CR4,0,182,268_AL_.jpg"/>
        <form method='post'>
            <input value="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkyODgwMDMzNV5BMl5BanBnXkFtZTgwMTExOTMyMjE@._V1_UY268_CR4,0,182,268_AL_.jpg" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='CSI- 2000-2015' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Malcolm in the Middle -2000-2006</li>
        <img id= "malcolmInTheMiddle" src= "http://www.metdaan.com/wp-content/uploads/2016/10/16922057_810x1080.jpg"/>
        <form method='post'>
            <input value="http://www.metdaan.com/wp-content/uploads/2016/10/16922057_810x1080.jpg" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Malcolm in the Middle -2000-2006' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Gilmore Girls : 2000-2007</li>
        <img id="gilmoreGirlsPic" src= "https://image.slidesharecdn.com/gilmoregirlspowerpoint-090503173940-phpapp01/95/gilmore-girls-powerpoint-1-728.jpg?cb=1241372412"/>
        <form method='post'>
            <input value="https://image.slidesharecdn.com/gilmoregirlspowerpoint-090503173940-phpapp01/95/gilmore-girls-powerpoint-1-728.jpg?cb=1241372412" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Gilmore Girls : 2000-2007' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>The Sopranos: 1999-2007 </li>
        <img id="sopranosPic" src= "https://img.yescdn.ru/2016/07/28/cover/7b87dbf799d6c743b752bab092e6034c-the-sopranos-season-1-1469774636.jpg"/>
        <form method='post'>
            <input value="https://img.yescdn.ru/2016/07/28/cover/7b87dbf799d6c743b752bab092e6034c-the-sopranos-season-1-1469774636.jpg" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='The Sopranos: 1999-2007' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Curb Your Enthusiasm: Since 2000 </li>
        <img id= "curbYourEnthusiasmPic" src= "http://cdn02.cdn.justjared.com/wp-content/uploads/headlines/2016/06/curb-your-enthusiasm-returning-for-season-9.jpg"/>
        <form method='post'>
            <input value="http://cdn02.cdn.justjared.com/wp-content/uploads/headlines/2016/06/curb-your-enthusiasm-returning-for-season-9.jpg" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Curb Your Enthusiasm: Since 2000' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

      </ul>
    </div>

    <div class="box" id="movies">
      <h3> Top 5 Moives</h3>
      <ul>
        <li>The Dark Knight : 2008</li>
        <iframe id= "darkKnightVid" width="560" height="315" src="https://www.youtube.com/embed/EXeTwQWrcwY" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
            <input value="https://www.youtube.com/embed/EXeTwQWrcwY" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='The Dark Knight : 2008' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Avatar: 2009</li>
        <iframe  id="avatarVid" width="560" height="315" src="https://www.youtube.com/embed/5PSNL1qE6VY" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
            <input value="https://www.youtube.com/embed/5PSNL1qE6VY" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Avatar: 2009' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>The Incredibles: 2004</li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eZbzbC9285I" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
            <input value="https://www.youtube.com/embed/eZbzbC9285I" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='The Incredibles: 2004' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Gladiator: 2000 </li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/owK1qxDselE" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
            <input value="https://www.youtube.com/embed/owK1qxDselE" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Gladiator: 2000' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

        <li>Requiem of a Dream: 2000</li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0nU7dC9bIDg" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
            <input value="https://www.youtube.com/embed/0nU7dC9bIDg" type="hidden" name="saved_fact" readonly="true">
            <!-- set input value for caption of image to send to post function -->
            <input value='Requiem of a Dream: 2000' type="hidden" name="caption" readonly="true">
            <button>[+]</button>
        </form>

      </ul>
    </div>
  </section>
  </body>
</head>
</html>
