<html>
<head>
  <title>1990s Basic Summary</title>
  <link rel= "stylesheet" href= "/resources/1990s.css">
</head>
<body>
  <h1>Welcome to the 90s</h1>
  <button class= "tablink" id= "Entertainment"><a href= "/90sEntertainment">Entertainment</a></button>
  <button class= "tablink" id= "ScientificDisc"><a href= "/90sScientificDisc">Scientific Discoveries</a></button>
  <button class= "tablink" id= "FunFacts"><a href= "/90sFunFacts">Fun Facts</a></button>
  <button class= "tablink" id= "SpecialEventsNews"><a href= "/90sSpecialEventsNews">Special Events/News</a></button>
  <section id= "Basic">
  <h1>Basic Summary of th 1990s </h1>
  <img id = "mainPic" src = "https://static01.nyt.com/images/2015/02/08/sunday-review/08nineties/08nineties-superJumbo.jpg"/>
  <p id = "summary"> Known as the  Last Great Decade, with Bill Clinton in charge, life was good<br> In the 1990s proggress in equality of sportes with the creation of Women's Soccer. We have the creation of the Internet by Robert E. Kahn and Vincent Cerf. We had advances in Modern Sciences like Dolly the Sheep being cloned.<br> We may have had advancements but the 1990s have had a lot of setbacks still to be discussed. The ever growing presence of sex in the world, STDs emerged, Magic Johnson got HIV , LA Riots because of the unjust and the brutal death of Rodney King in 1992 and Irresponsible war on the Gulf of Mexico.  </p>
</section>
</body>
</html>
