<html>
<head>
  <title>2000s Basic Summary</title>
  <link rel= "stylesheet" href= "/resources/2000s.css">
</head>
<body>
  <h1>Welcome to the 2000s</h1>
  <button class= "tablink" id= "Entertainment"><a href= "/00sEntertainment">Entertainment</a></button>
  <button class= "tablink" id= "ScientificDisc"><a href= "/00sScientificDisc">Scientific Discoveries</a></button>
  <button class= "tablink" id= "FunFacts"><a href= "/00sFunfacts">Fun Facts</a></button>
  <button class= "tablink" id= "SpecialEventsNews"><a href= "00sSpecialEventsNews">Special Events/News</a></button>
  <section id= "Basic">
  <h1>Basic Summary of th 1990s </h1>
  <img id = "mainPic" src = "http://img00.deviantart.net/92dd/i/2010/332/c/1/pop_art_and_culture_collage_by_jeramiah327-d33ucym.png"/>
  <p id = "summary">  The 2000s: The Shadow of the 90s. With the new  advancements created and seen in the 1990s , the 2000s tried to follow it lead.
    <br> They had many good things in the decade like the full launch of social media with the creation of Facebook, Youtube, Twitter etc.
    <br> The was movement in justice and equality with former President Obama being elected in 2008.
    <br> However there were much unexpected tragedies. Starting with the 9/11 attacks on the World Treat Center.
    <br> The suspicious election of 2000 of former President George W. Bush in 2000 despite the equal split in the election.
    <br> And last but not least the death Iconic Micheal Jackson </p>
</section>
</body>
</html>
