<head>
  <title>90s Entertainment</title>
  <link rel="stylesheet" href="/resources/80sEntertainment.css">
  <body>
    <button class= "tablink" id= "Homepage"><a href= "/">Homepage</a></button>
    <button class= "tablink" id= "ScientificDisc"><a href= "/1980/ScientificDisc">Scientific Discoveries</a></button>
    <button class= "tablink" id= "FunFacts"><a href= "/1980/FunFacts">Fun Facts</a></button>
    <button class= "tablink" id= "SpecialEventsNews"><a href= "/1980/SpecialEventsNews">Special Events/News</a></button>
    {{header}}
  <h1 id="title">Entertainment</h1>
  <section id= "parent">
    <div id= "musicngames">
      <div class="box" id="games">
        <h3> Top 5 Games</h3>
        <ul>
        <!-- defender game -->
          <li>Defender(1981)</li>
          <img id= "defenderpic"src= "http://worldofstuart.excellentcontent.com/unlocked/defender/supergb.png"/>
          <form method='post'>
      				<input value="http://worldofstuart.excellentcontent.com/unlocked/defender/supergb.png" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Defender(1981)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>
<!-- tetris game -->
          <li>Tetris(1984)</li>
            <img id= "tetrisPic"src= "http://philippines.liketimes.me/file/parts/Ia781741/92fe67e3f581be09dc5e09baa3c303e5.jpg"/>
          <form method='post'>
      				<input value="http://philippines.liketimes.me/file/parts/Ia781741/92fe67e3f581be09dc5e09baa3c303e5.jpg" type="hidden" name="saved_fact" readonly="true">
      				<!-- set input value for caption of image to send to post function -->
      				<input value='Tetris(1984)' type="hidden" name="caption" readonly="true">
      				<button>[+]</button>
      		</form>

          <!-- PacMan Game -->
          <li>PacMan (1980)</li>
          <img id= "pacMan" src= "http://students.expression.edu/johnherrera/files/2013/06/pac-man-logo.gif"/>
          <form method='post'>
              <input value="http://students.expression.edu/johnherrera/files/2013/06/pac-man-logo.gif" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='PacMan (1980)' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
          </form>

          <!-- Donkey Kong game -->
          <li>Donkey Kong (1981)</li>
          <img id= "donkeyKong" src= "https://tcrf.net/images/c/c9/DonkeyKongARCTitle.png"/>
          <form method='post'>
              <input value="https://tcrf.net/images/c/c9/DonkeyKongARCTitle.png" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Donkey Kong (1981)' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
          </form>


          <!-- Galaga game -->
          <li>Galaga (1981)</li>
          <img id= "galaga" src= "https://upload.wikimedia.org/wikipedia/en/2/2a/Galaga.png"/>
          <form method='post'>
              <input value="https://upload.wikimedia.org/wikipedia/en/2/2a/Galaga.png" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Galaga (1981)' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
          </form>
        </ul>
      </div>
      <div class= "box" id="music" >
        <h3> Top 80s Music</h3>
        <form  id= "musicPlaylist" method="post">
    		    <iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aoliverwows%3Aplaylist%3A6JsPEZWnJnks47BLkUNhaI" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    		    <input value="https://open.spotify.com/embed?uri=spotify%3Auser%3Aoliverwows%3Aplaylist%3A6JsPEZWnJnks47BLkUNhaI" type="hidden" name="saved_fact" readonly="true">
    				<button>[+]</button>
    	  </form>
        </div>
      </div>
    <div class="box" id= "shows">
      <h3> Top 5 TV Shows</h3>
      <ul>

        <li>Cheers- 1982-1993 </li>
        <img id= "cheersPic" src= "https://images-na.ssl-images-amazon.com/images/M/MV5BMTAyMDQxMzUyODZeQTJeQWpwZ15BbWU2MDk3MzU5OQ@@._V1_UY268_CR2,0,182,268_AL_.jpg"/>
        <form method='post'>
              <input value="https://images-na.ssl-images-amazon.com/images/M/MV5BMTAyMDQxMzUyODZeQTJeQWpwZ15BbWU2MDk3MzU5OQ@@._V1_UY268_CR2,0,182,268_AL_.jpg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Cheers:1982-1993' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>


        <li>The A-Team- 1983-1987</li>
        <img id= "aTeam" src= "https://i.ytimg.com/vi/9nfHetknnaY/hqdefault.jpg"/>
        <form method='post'>
              <input value="https://i.ytimg.com/vi/9nfHetknnaY/hqdefault.jpg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='The A-Team: 1983-1987' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>

        <li>  The Cosby Show- 1984- 1992</li>
        <img id="cosbyShow" src= "https://thehiphopscholar.files.wordpress.com/2015/11/cosbyshowcast.jpg"/>
        <form method='post'>
              <input value="https://thehiphopscholar.files.wordpress.com/2015/11/cosbyshowcast.jpg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='  The Cosby Show: 1984- 1992' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>


        <li>Full House: 1987-1995</li>
        <img id="fullHouse" src= "https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/04/21/10/Full-house_1987_cast.jpg"/>
        <form method='post'>
              <input value="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/04/21/10/Full-house_1987_cast.jpg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Full House: 1987-1995' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>


        <li>21 Jump Street: 1987-1991</li>
        <img id= "jumpStreet" src= "http://image.tmdb.org/t/p/w342/ybvuX8vQx8OTBp4PRCkmi5w9eJC.jpg"/>
        <form method='post'>
              <input value="http://image.tmdb.org/t/p/w342/ybvuX8vQx8OTBp4PRCkmi5w9eJC.jpg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Boy Meets World 1993-2000' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>
      </ul>
    </div>

    <div class="box" id="movies">
      <h3> Top 5 Moives</h3>
      <ul>
        <li>Aliens:1986</li>
         <iframe  id= "aliens" width="560" height="315" src="https://www.youtube.com/embed/p9sE1fIyIlg" frameborder="0" allowfullscreen></iframe>
         <form method='post'>
              <input value="https://www.youtube.com/embed/p9sE1fIyIlg" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Aliens:1986' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>

        <li>Back to The Future: 1985</li>
      <iframe id= "future" width="560" height="315" src="https://www.youtube.com/embed/qvsgGtivCgs" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
              <input value="https://www.youtube.com/embed/qvsgGtivCgs" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Back to The Future: 1985' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>

        <li>E.T. The Extra Terrestrial: 1982 </li>
        <iframe id= "et" width="560" height="315" src="https://www.youtube.com/embed/qYAETtIIClk" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
              <input value="https://www.youtube.com/embed/qYAETtIIClk" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='E.T. The Extra Terrestrial: 1982' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>

        <li>The Breakfast Club:19857</li>
        <iframe  id= "breakfastClub" width="560" height="315" src="https://www.youtube.com/embed/ZXzlCpHK3-I" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
              <input value="hhttps://www.youtube.com/embed/ZXzlCpHK3-I" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='The Breakfast Club:1985' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>

        <li>Ferris Bueller’s Day Off: 1986</li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D6gABQFR94U" frameborder="0" allowfullscreen></iframe>
        <form method='post'>
              <input value="https://www.youtube.com/embed/D6gABQFR94U" type="hidden" name="saved_fact" readonly="true">
              <!-- set input value for caption of image to send to post function -->
              <input value='Ferris Bueller’s Day Off: 1986' type="hidden" name="caption" readonly="true">
              <button>[+]</button>
        </form>
      </ul>
    </div>
  </section>
  </body>
</head>
</html>
