<html>
<head>
  <title>80s Scientific Discoveries</title>
  <link rel="stylesheet" href="/resources/80sScientificDisc.css">
  <body>
    <button class= "tablink" id= "Homepage"><a href= "/">Homepage</a></button>
    <button class= "tablink" id= "Entertainment"><a href= "/80sEntertainment">Entertainment</a></button>
    <button class= "tablink" id= "FunFacts"><a href= "/80sFunFacts">Fun Facts</a></button>
    <button class= "tablink" id= "SpecialEventsNews"><a href= "/80sSpecialEventsNews">Special Events/News</a></button>
    <h1>The Top Scientific Discoveries in the 1990s</h1>
    <ul>
      <li>1984: THE MACINTOSH (GADGETS)-The '80s were also the beginning of the Mac vs. PC debate — even within this story and our newsroom we have internal disagreement over which was more important.
        <br> But like it or not, you have Apple to thank (or blame) for how you interact with the modern computer. Specifically, the Macintosh, which changed the face of desktop computing.
        <br>Literally.The Mac was the first consumer computer to include a GUI (graphical user interface) instead of a command-line interface. It was the first computer for the masses.
        <br>It was also the first computer to use a mouse, allowing you to easily click on those lovely little icons and drag and drop items around the slick desktop interface.
        <br>It even influenced Microsoft’s Windows 95 OS, and was of course the first stepping stone toward the Mac OS X we use today</li>
      <a href="http://oldcomputers.net/macintosh.html">
      <img id= "macintosh" src= "https://www.wired.com/images_blogs/gadgetlab/2012/12/macintosh-ap.jpg" /></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2012/12/macintosh-ap.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= '1984: THE MACINTOSH (GADGETS)' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>


      <li>1980S: IN-CAR STEREOS (VEHICLES)- Ask any audiophile, and they'll tell you the worst environment in the world to enjoy music is inside your car.
        <br> But the 1980s ushered in a new era of in-car audio, and we’re not talking about the first wimpy Bose “premium” systems that became available in the early years of the neon decade.
        <br>The scrappy audio aftermarket took the automotive world by storm, selling mondo amplifiers and, more importantly, the first dedicated subwoofers to kids looking for a new way to amp up their rides.It took years for the staid auto industry to get hip on how to go low by adding subwoofers to their systems. And judging from the lame imitations that still pass for real chest-pounding bass in most modern stock systems, car companies still don’t get it. Because if you’ve never heard the Beastie Boys’ “Hello Brooklyn” pumping through a pair of sufficiently powered 12-inch subs — preferably in a Camaro IROC-Z (mullet and sleeveless tee optional) — you’re missing the point. And the best part of most music.</li>
      <a href="http://www.complex.com/music/2015/02/the-evolution-of-playing-music-in-your-car/1970s-1980s-pumping-up-the-volume">
      <img  id= "incarStereos" src= "https://www.wired.com/images_blogs/gadgetlab/2012/12/in-car-audio.jpg"/></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2012/12/in-car-audio.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= '1980S: IN-CAR STEREOS (VEHICLES)' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>



      <li>1980S: AUTOFOCUS (PHOTOGRAPHY)-The '80s produced some of history's most iconic photos: the young Afghan girl staring into National Geographic photographer Steve McCurry's camera,
        <br> Annie Leibovitz's shot of a naked John Lennon hugging Yoko Ono and the lone man in front of a line of tanks after the Tiananmen Square massacre. But it was also a decade that gave rise to a vital technology so important, everyone now takes it for granted — autofocus.
        <br>Until the 1980s, one of the techniques that set professional photographers apart was their ability to manually focus their cameras on the fly. Shooting portraits might have been one thing, but trying to accurately track the action during a war or San Francisco 49ers game was something only a few could do.
        <br>It was as much about dexterity as vision.But then came autofocus. Originally invented by Leica in the 1970s, this technology didn't take off until the early 1980s. The first autofocus 35mm SLR was Pentax's ME-F (above), which was released in 1981, and had focus sensors in the camera and a motorized lens.
        <br> Other camera companies followed suit and released their own autofocus systems, but the next breakthrough came in 1985 when Minolta released its autofocus system, which moved the drive motor from the lens to the camera body.
        <br>For sports photographers like Peter Reed Miller of Sports Illustrated and John Storey of the San Francisco Examiner, autofocus only meant the camera could now help them do something they had perfected over many years. But for the rest of us, it opened a whole new world of action — be it on the sports field, on vacation or with our kids at home. </li>
      <a href="http://www.digicamhistory.com/1980_1983.html">
      <img id="autofocus" src= "https://www.wired.com/images_blogs/gadgetlab/2012/12/pentax-autofocus.jpg"/></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2012/12/pentax-autofocus.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= '1980S: AUTOFOCUS (PHOTOGRAPHY)' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>

      <li>1980S: ADDITIVE MANUFACTURING (DESIGN)-Additive manufacturing is a type of rapid prototyping, also known as 3-D printing. That's right — although it's only now reaching mass awareness, 3-D printing was actually invented in the '80s.
        <br>The 3-D printers of the 1980s were a lot different from the desktop machines that are becoming popular today,
        <br>but they both have a notable similarity: Like consumer-level desktop 3-D printers, the industrial machines of the '80s struggled to print prototypes with enough structural integrity to be useful in many products.<br> The first designs were stereolithographic, at first, led by Charles Hull’s system of using light to cure liquid polymers.
        <br> But by the end of the decade, manufacturers were using laser sintering, fused deposition modeling, and even laminate layering. </li>
      <a href="https://www.technologyreview.com/s/513716/additive-manufacturing/">
      <img id= "addiMan" src= "https://abm-website-assets.s3.amazonaws.com/pddnet.com/s3fs-public/additive%20manufacturing.jpg"/></a>
      <form method='post'>
          <input value='https://abm-website-assets.s3.amazonaws.com/pddnet.com/s3fs-public/additive%20manufacturing.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= '1980S: ADDITIVE MANUFACTURING (DESIGN)' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>

      <li>1985: NINTENDO ENTERTAINMENT SYSTEM (GAMES)-Atari’s collapse at the beginning of the 1980s was as swift and dramatic as its rise. Electronics makers and retailers alike believed that videogame-only devices were just a stop on the road to the dominance of personal computers.
        <br> Nintendo, which was enjoying remarkable success in its native Japan with a game console called Famicom, believed otherwise. It thought that the games created by its in-house genius Shigeru Miyamoto, like Super Mario Bros. and The Legend of Zelda, were unique enough to get families to invest in another game machine.
        <br>The company had to fight hard to get retailers to test-market the Nintendo Entertainment System for its first Christmas, but everything snowballed from there. Some felt that Nintendo had been a bit too successful
        <br> and hauled it into court over alleged non-competitive practices, but the company’s victories established the gaming business as we know it today.</li>
      <a href="https://www.wired.com/2010/10/1018nintendo-nes-launches/">
      <img id="nintendo" src="https://www.wired.com/images_blogs/gadgetlab/2012/12/nes-console-set.jpg"/></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2012/12/nes-console-set.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= '1985: NINTENDO ENTERTAINMENT SYSTEM (GAMES)' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>
    </ul>

  </body>
</head>
</html>
