<html>
<head>
  <title>90s Scientific Discoveries</title>
  <link rel="stylesheet" href="/resources/90sScientificDisc.css">
  <body>
    <button class= "tablink" id= "Homepage"><a href= "/">Homepage</a></button>
    <button class= "tablink" id= "Entertainment"><a href= "/90sEntertainment">Entertainment</a></button>
    <button class= "tablink" id= "FunFacts"><a href= "/90sFunFacts">Fun Facts</a></button>
    <button class= "tablink" id= "SpecialEventsNews"><a href= "/90sSpecialEventsNews">Special Events/News</a></button>
    <h1>The Top Scientific Discoveries in the 1990s</h1>
    <ul>
      <li>Photoshop was created in 1990</li>
      <a href="http://www.creativebloq.com/adobe/history-photoshop-12052724">
      <img id= "Photoshop" src= "http://i.imgur.com/v53fSXk.jpg" /></a>
      <form method='post'>
          <input value='http://i.imgur.com/v53fSXk.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= 'Photoshop in 1990' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>


      <li>Internet was created in 1990</li>
      <a href="http://www.newmedia.org/history-of-the-internet.html?page=4">
      <img  id= "Internet" src= "https://www.imore.com/sites/imore.com/files/styles/larger/public/field/image/2015/03/mac-plus.jpg?itok=ddIK7RyH"/></a>
      <form method='post'>
          <input value='https://www.imore.com/sites/imore.com/files/styles/larger/public/field/image/2015/03/mac-plus.jpg?itok=ddIK7RyH' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= 'Internet was creted in 1990' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>



      <li>Linux was  created in 1991 </li>
      <a href="https://en.wikipedia.org/wiki/History_of_Linux">
      <img id="linux" src= "https://upload.wikimedia.org/wikipedia/en/a/ae/BeOS_Desktop.png"/></a>
      <form method='post'>
          <input value='https://upload.wikimedia.org/wikipedia/en/a/ae/BeOS_Desktop.png' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= 'Linux was created in 1991' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>

      <li>Mp3 player was created in 1998</li>
      <a href="https://www.thoughtco.com/history-of-mp4-1992132">
      <img id= "mp3" src= "https://www.wired.com/images_blogs/gadgetlab/2013/01/mpman.jpg"/></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2013/01/mpman.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= 'Mp3 player was created in 1998' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>

      <li>Dark Energy was seen in the 1990s</li>
      <a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">
      <img id="darkEnergy" src="https://www.wired.com/images_blogs/gadgetlab/2013/01/dark-energy.jpg"/></a>
      <form method='post'>
          <input value='https://www.wired.com/images_blogs/gadgetlab/2013/01/dark-energy.jpg' type="hidden" name="saved_fact" readonly="true">
          <!-- set input value for caption of image to send to post function -->
          <input value= 'Dark Energy in the 1990s' type="hidden" name="caption" readonly="true">
          <button>[+]</button>
      </form>
    </ul>

  </body>
</head>
</html>
