<html>
<head>
  <title>90s Scientific Discoveries</title>
  <link rel="stylesheet" href="/resources/90sScientificDisc.css">
  <body>
    <button class= "tablink" id= "Homepage"><a href= "/homepage">Homepage</a></button>
    <button class= "tablink" id= "Entertainment"><a href= "/90sEntertainment">Entertainment</a></button>
    <button class= "tablink" id= "FunFacts"><a href= "/90sFunFacts">Fun Facts</a></button>
    <button class= "tablink" id= "SpecialEventsNews"><a href= "/90sSpecialEventsNews">Special Events/News</a></button>
    <h1>The Top Scientific Discoveries in the 1990s</h1>
    <ul>
      <li>Photoshop was created in 1990</li>
      <img id= "Photoshop" src= "http://i.imgur.com/v53fSXk.jpg"/>
      <li>Internet was created in 1990</li>
      <img  id= "Internet" src= "https://www.imore.com/sites/imore.com/files/styles/larger/public/field/image/2015/03/mac-plus.jpg?itok=ddIK7RyH"/>
      <li>Linux was  created in 1991 </li>
      <img id="linux" src= "https://upload.wikimedia.org/wikipedia/en/a/ae/BeOS_Desktop.png"/>
      <li>Mp3 player was created in 1998</li>
      <img id= "mp3" src= "https://www.wired.com/images_blogs/gadgetlab/2013/01/mpman.jpg"/>
      <li>Dark Energy was seen in the 1990s</li>
      <img id="darkEnergy" src="https://www.wired.com/images_blogs/gadgetlab/2013/01/dark-energy.jpg"/>
    </ul>
  </body>
</head>
</html>
