<html>
<head>
</head>
  <link rel="stylesheet" href="homepage.css">
 <body>
  <h1> Want to Take A Travel Machine Back To The Past?</h1>
  <!-- <h2> Come Live Through The Decades </h2> -->
  <div id="1990s" class="tabcontent">

  <h3>1990s</h3>
  <p>Summary of 1990s</p>
</div>

<div id="1980s" class="tabcontent">

  <h3>1980s</h3>
  <p>Summary of 1980s</p>
</div>

<div id="1970s" class="tabcontent">
  <h3>1970s</h3>
  <p>Summary of 1970s</p>
</div>

<div id="1960s" class="tabcontent">
  <h3>1960s</h3>
  <p>Summary of 1960s</p>
</div>


<button class="tablink" id="1990s"><a href="1990s.html">1990s</a></button>
<button class="tablink" id="1980s"<a href="1990s.html">1980s</a></button>
<button class="tablink" id="1970s"<a href="1990s.html">1970s</a></button>
<button class="tablink" id="1"<a href="1990s.html">1960s</a></button>

</body>
<script src"homepage.js"></script>
</html>
