<html>
<head>
</head>

  <link rel="stylesheet" href="/resources/homepage.css">

 <body>
 {{header}}
  <h1> Want to Take A Travel Machine Back To The Past?</h1>
  <!-- <h2> Come Live Through The Decades </h2> -->
  <section>
    <ul id= 'parent'>
  <a class="tablink" id="2000s" href="/2000">2000s</a>

  <a class="tablink"  id="1990s" href="/1990">1990s</a>

  <a class="tablink" id="1980s" href="/1980">1980s</a>

  <a class="tablink" id="Feedback" href="/feedback">Feedback</a>

  <a class="tablink" id="Bookmarks" href="/bookmarks">Bookmarks</a>
</ul>

</section>


</body>
<script src"homepage.js"></script>
</html>
