<!DOCTYPE html>
<html>
  <head>
    <title>User's Feedback</title>
    <link rel="stylesheet" href="/resources/input_feedback.css">
  </head>
  <body>
    <h1>The Decades </h1>
    <h2> How Did You Enjoy Your Trip to the Past?</h2>
    <h3>We Would Love To Hear Your Voice! </h3>

    <form method="post">
        <p>Email Address:<input type="text" name="email"/></p>
        <p>Name: <input type="text" name="name"/></p>
        <p>Rating:
          1<input type="radio" name="rating" value ="1">
          2<input type="radio" name="rating" value ="2">
          3<input type="radio" name="rating" value ="3">
          4<input type="radio" name="rating" value ="4">
          5<input type="radio" name="rating" value ="5">
        </p>
        <p>Feedback: <input type="text" id="txtbox" name="comment"/></p>
        <button type="submit">Submit Feedback</button>
    </form>
  </body>
</html>
