<!DOCTYPE html>
<html>
  <head>
    <title>User's Feedback</title>
  </head>
  <body>
    <h1>The Decaedes <h1>
    <h3> How Did You Enjoy Your Trip to the Past?</h3>
    <h2>We Would Love To Hear Your Voice! </h2>

    <form method="post">
        <p>Email Address;<input type="text" name="email"/></p>
        <p>Name: <input type="text" name="name"/></p>
        <p>"Rating: "
          <input type="radio" name="rating" value ="1">
          <input type="radio" name="rating" value ="2">
          <input type="radio" name="rating" value ="3">
          <input type="radio" name="rating" value ="4">
          <input type="radio" name="rating" value ="5">
        </p>
        <p>Feedback: <input type="text" id="txtbox" name="comment"/></p>
        <button type="submit">Submit Feedback</button>
    </form>
  </body>
</html>
