<!DOCTYPE html>
<html>
<head>
	<title>Spotify API Test</title>
</head>
<body>
	<form method="post">
		<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aslangner%3Aplaylist%3A1GtXrEYSoB73vqT9rl7l87" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		<input value='https://open.spotify.com/embed?uri=spotify%3Auser%3Aslangner%3Aplaylist%3A1GtXrEYSoB73vqT9rl7l87' type="text" name="saved_fact" readonly="true">
				<button>[+]</button>
		<h2>
			<p>I like computer science. 
				<input value='I like computer science.' type="text" name="saved_fact" readonly="true">
				<button>[+]</button> 
			</p>
			<p>I like to work at google.
				<input value='I like to work at google' type="text" name="saved_fact" readonly="true">
				<button>[+]</button>
			</p>
		</h2>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src"spotify.js"></script>
</html>
