<!DOCTYPE html>
<html>
<head>
	<title>Spotify API Test</title>
</head>
<body>
	<form method="post">
		<li>Popular 90s Music</li>
		<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aslangner%3Aplaylist%3A1GtXrEYSoB73vqT9rl7l87" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		<input value='https://open.spotify.com/embed?uri=spotify%3Auser%3Aslangner%3Aplaylist%3A1GtXrEYSoB73vqT9rl7l87' type="text" name="saved_fact" readonly="true">
	     <input value='Popular 90s Music' type="text" name="list_item" readonly="true">
		<button>[+]</button>
	</form>
	<h2>
		<form method='post'>
			<li>I like computer science (1990).</li>
				<img src="https://edu.google.com/images/resources/programs/computer-science-summer-institute.jpg">
				<!-- set input value of image source to send to post function -->
				<input value='https://edu.google.com/images/resources/programs/computer-science-summer-institute.jpg' type="text" name="saved_fact" readonly="true">
				<!-- set input value for caption of image to send to post function -->
				<input value='I like computer science (1990)' type="text" name="list_item" readonly="true">
				<button>[+]</button>
		</form>
	</h2>
	<ul>
	<form method="post">
	<li>Pulp Fiction: 1994</li>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/ewlwcEBTvcg" frameborder="0" allowfullscreen></iframe>
	     <input value='Pulp Fiction: 1994' type="text" name="list_item" readonly="true">
	     <input value='https://www.youtube.com/embed/ewlwcEBTvcg' type="text" name="saved_fact" readonly="true">
			<button>[+]</button>
    </form>
    </ul>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src"spotify.js"></script>
</html>














