<!DOCTYPE html>
<html>
<head>
	<title>Spotify API Test</title>
</head>
<body>
	<iframe src="https://open.spotify.com/embed?uri=spotify%3Auser%3Aslangner%3Aplaylist%3A1GtXrEYSoB73vqT9rl7l87" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<!-- 	<h1>I like to work at google <button>[+]</button></h1> -->
	<form method="post">
		<h2>
		<form>

			<p>I like to work at google. <input value='I like to work at google' type="text" name="saved_fact" readonly="true"><button>[+]</button> </p>
		</form>
		</h2>
	</form>
</body>
</html>
