<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>To Do List</h1>
	<ul>
		{% for saved_fact in fact_list%}
			{% if 'spotify' in saved_fact%}
				<li>
					<form method="post">
						<iframe src="{{saved_fact}}" height="380" frameborder="0" allowtransparency="true"></iframe>
						<input value='{{saved_fact}}' type="text" name="deleted_fact" readonly="true">
						<button>[-]</button>
					</form>
				</li>
			{% else %}
				<li>{{saved_fact}}
					<form method="post">
						<input value='{{saved_fact}}' type="text" name="deleted_fact" readonly="true">
						<button>[-]</button>
					</form>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</body>
</html>
